<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-ninja | <% = test%></title>
</head>
<body>

    <% const name='mario'%>
        <nav>
        <div class="site-title">
            <p><%  name %></p>
             <a href="/">blog ninja</a>
             <p>a net ninja site</p>
        </div>
        <ul>
            <li><a href="/ "></a></li>
            <li><a href="/about"></a></li>
            <li><a href="/blogs/create"></a></li>
        </ul>
    </nav>
    <div class="create-blog content">
        <form>
            <label for="title">blog-title</label>
            <input type="text" id="title"/>
             <label for="snippet">blog-snippet</label>
             <input type="text" id="snippet"/>
            <label for="body">blog-body</label>
            <textarea id="body" required></textarea>
            <button>submit</button>
        </form>
    </div>
</body>
</html>